p {
  font-size: 2rem;
}

#gameboard {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 80px;
  width: 80px;
  position: relative;
}

.square svg {
  height: 6cap;
  width: 60px;
  margin: 8px;
  position: relative;
  z-index: -9;
}

path {
  position: relative;
  z-index: -10;
}

.piece {
  position: relative;
  z-index: 9;
}

.beige {
  background-color: grey;
}

.brown {
  background-color: brown;
}

.black {
  fill: black;
}

.white {
  fill: white;
}
